fieldset {
  /*   width: 70%;
    height: 70%; */
    border-style: solid;
    border-width: 3px;
    border-color:rgb(0, 4, 10); 
    color: rgb(6, 21, 232);
    background-color: rgb(234, 214, 237);
    font-family: 'Courier New';
}

body{
    font-size: larger;
    display: grid;
    place-items: center;
    border-style: solid;
    border-width: 3px;
    border-color:rgb(11, 100, 233); 
    color: rgb(26, 8, 228);
    background-color: rgb(216, 73, 207);

}
img{

   width: 30vh; font-size: larger;
   display: grid;
   place-items: center;

}

#contenedor2{
  font-size: larger;
  display: grid;
  place-items: center;
  border-style: solid;
  border-width: 3px;
  border-color:rgb(0, 4, 8); 
  color: rgb(232, 18, 143);
  background-color: rgb(236, 224, 231);
  width: 50px;

}

button{
  border-width: 3px;
  border-color:rgb(0, 4, 8); 
  color: rgb(72, 14, 232);
  background-color: rgb(236, 224, 231);
  width: 300px;
  font-family: 'Courier New';
  font-style: italic;
  font-size: 20px;

}

select{

  border-width: 3px;
  border-color:rgb(0, 4, 8); 
  color: rgb(75, 18, 232);
  background-color: rgb(236, 224, 231);
  width: 300px;
}

#contenedor3{

  border-width: 3px;
  border-color:rgb(0, 4, 8); 
  color: rgb(75, 18, 232);
  background-color: rgb(236, 224, 231);
  width: 300px;
}

legend{

  color: rgb(75, 18, 232);



}

option{
  width: 5px;


}

#contenedor1{

  font-size: larger;
  display: grid;
  place-items: center;
  border-style: solid;
  border-width: 3px;
  border-color:rgb(0, 4, 8); 
  color: rgb(232, 18, 143);
  background-color: rgb(236, 224, 231);
  width: 300px;

}

label{

  width: 50px;
}
